.write {
    padding-top: 50px;
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    
    align-items: center;
    
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20; 
    width: 70vw;
}

.writeInput:focus {
    outline: none;
}
 .imgLable {
     color: grey;

 }

.writeText {
    font-size: 20px;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 9px;
    background-color: teal;
    cursor: pointer;
    font-size: 16px;
}

